# Исключаем node_modules (папка с зависимостями)
node_modules/

# Исключаем файлы окружения (хранят API-ключи, пароли и т. д.)
.env
.env.local
.env.production

# Исключаем логи и кеши
npm-debug.log
yarn-debug.log
.eslintcache

# Исключаем IDE-файлы (VS Code, WebStorm и другие)
.vscode/
.idea/
*.swp

# Исключаем зависимости при работе с TypeScript
**/tsconfig.tsbuildinfo