<div class="main">
    <section class="categories ps-5 pt-5">
        <div class="categories-title pb-4 pt-5">
            <h1>Редактирование категории расходов</h1>
        </div>
        <div class="createInput">
            <div class="col-3">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                   placeholder="Название..." id="input-edited">
            <div class="createInputButton pt-3">
                <button type="button" class="btn btn-success me-2" id="btn-edited">Сохранить</button>
                <a href="/expenses" class="btn btn-danger">Отмена</a>
            </div>
        </div>
        </div>
    </section>
</div>